* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
  body {
    background: #7085e4;
    color: hsl(200, 100%, 90%);
    max-width: 400px;
    padding: 1rem;
    margin: 0 auto;
  }
  
  .new-item-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .form-row {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
  }

  .text-input {
    box-shadow: inset #000000 0 0 0 1.8px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    appearance: none;
    width: 100%;
    position: relative;
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1.4;
    color: rgb(252, 255, 252);
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    transition: all .2s ease;
    :hover{
        box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
    }
    :focus{
        background: #fff;
        outline: 0;
        box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
    }
  }
  
  .button-56 {
    align-items: center;
    background-color: #5e5cde;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    margin-top: 10px;
    justify-content: center;
    line-height: 24px;
    width: 200px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .button-56:hover:after {
    transform: translate(0, 0);
  }
  
  .button-56:active {
    background-color: #43388a;
    outline: 0;
  }
  
  .button-56:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .button-56 {
      padding: 0 40px;
    }
  }

  .button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fbfbfb;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: 4px;
    margin-left: 40px;
    min-height: 6px;
    min-width: 0;
    outline: none;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 25%;
    will-change: transform;
  }

  .button-28:disabled {
    pointer-events: none;
  }

  .button-28:hover {
    color: #fff;
    background-color: #d73636;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  .new-item-form input {
    outline: none;
    border: 1px solid hsl(200, 100%, 40%);
    background: hsl(200, 100%, 30%);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    color: hsl(200, 100%, 90%);
  }
  
  .new-item-form input:focus {
    border: 1px solid hsl(200, 100%, 70%);
  }
  
  .header {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .list {
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    list-style: none;
  }
  
  .list li:has(input:checked) label {
    color: hsl(0, 0%, 0%);
  }
  
  .list {
    margin: 0;
    color: #000000;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  
  .list li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  
  .list li label {
    display: flex;
    gap: 0.25rem;
    cursor: pointer;
    align-items: center;
  }
  
  .list li:has(input:focus-visible) label {
    outline: 1px solid hsl(200, 100%, 50%);
  }
  
  .list li input {
    outline: none;
    width: 0;
    height: 0;
    appearance: none;
    pointer-events: none;
    position: absolute;
  }
  
  .list li label::before {
    content: "";
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    background: hsl(200, 100%, 90%);
    border-radius: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .list li label:hover::before {
    background: hsl(200, 100%, 80%);
  }
  
  .list li:has(input:checked) label::before {
    content: "✔";
    background: hsl(120, 9%, 98%);
    color: hsl(125, 99%, 41%);
    font-size: 0.75rem;
    font-weight: bold;
  }